body{
    background-color: rgb(114, 22, 22);
}
section{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 10px 10px rgb(220,20,60);
    border-radius: 0px 40px 0px 45px ;
}
section h1{
    cursor:context-menu;
    text-align: center;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
b{
    color: crimson;
}
#confi{
    margin-left: 25%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    width:200px;
    margin-top: 10px;   
}
.burger{
    margin-top: 5px;
    width: 40%;
    margin-left: 30%;
    border-radius: 50%;
}